<h2>Manage League Rules</h2>

<%= form_tag('/rules', :method => "post") %>

<h3>Select month</h3>

<p><%= select_tag "month", options_for_select(["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], @current_ruleset.month) %>
</p>

<h3>Select valid game types</h3>
<p>Rengo:</p>
<p>
	<% if @current_ruleset.rengo == true %>
		<%= radio_button_tag 'rengo', true, :checked => true %>True<br />
		<%= radio_button_tag 'rengo', false %>False
	<% else %>
		<%= radio_button_tag 'rengo', true %>True<br />
		<%= radio_button_tag 'rengo', false, :checked => true %>False		
	<% end %>
</p>
<p>Teaching:</p>
<p>
	<% if @current_ruleset.teaching == true %>
		<%= radio_button_tag 'teaching', true, :checked => true %>True<br />
		<%= radio_button_tag 'teaching', false %>False
	<% else %>
		<%= radio_button_tag 'teaching', true %>True<br />
		<%= radio_button_tag 'teaching', false, :checked => true %>False		
	<% end %>
</p>
<p>Review</p>
<p>
	<% if @current_ruleset.review == true %>
		<%= radio_button_tag 'review', true, :checked => true %>True<br />
		<%= radio_button_tag 'review', false %>False
	<% else %>
		<%= radio_button_tag 'review', true %>True<br />
		<%= radio_button_tag 'review', false, :checked => true %>False		
	<% end %>
</p>
<p>Demonstration</p>
<p>
	<% if @current_ruleset.demonstration == true %>
		<%= radio_button_tag 'demonstration', true, :checked => true %>True<br />
		<%= radio_button_tag 'demonstration', false %>False
	<% else %>
		<%= radio_button_tag 'demonstration', true %>True<br />
		<%= radio_button_tag 'demonstration', false, :checked => true %>False		
	<% end %>
</p>
<p>Rated</p>
<p>
	<% if @current_ruleset.rated == true %>
		<%= radio_button_tag 'rated', true, :checked => true %>True<br />
		<%= radio_button_tag 'rated', false %>False
	<% else %>
		<%= radio_button_tag 'rated', true %>True<br />
		<%= radio_button_tag 'rated', false, :checked => true %>False		
	<% end %>
</p>
<p>Free</p>
<p>
	<% if @current_ruleset.free == true %>
		<%= radio_button_tag 'free', true, :checked => true %>True<br />
		<%= radio_button_tag 'free', false %>False
	<% else %>
		<%= radio_button_tag 'free', true %>True<br />
		<%= radio_button_tag 'free', false, :checked => true %>False		
	<% end %>
</p>

<p>Check division membership:</p>

<p>
	<% if @current_ruleset.division_boolean == true %>
		<%= radio_button_tag 'division_boolean', true, :checked => true %>True<br />
		<%= radio_button_tag 'division_boolean', false %>False
	<% else %>
		<%= radio_button_tag 'division_boolean', true %>True<br />
		<%= radio_button_tag 'division_boolean', false, :checked => true %>False		
	<% end %>
</p>

<h3>Tag definition</h3>

<p>Tag position (enter a game move # between 1 and 300):</p>

<p><%= number_field_tag('tag_pos', @current_ruleset.tag_pos, :min => "1", :max => "300")%></p>

<p>Tag phrase:</p>

<p><%= text_field_tag('tag_phrase', @current_ruleset.tag_phrase) %></p>

<p>Tag required:</p>

<p>
<% if @current_ruleset.tag_boolean == true %>
	<%= radio_button_tag 'tag_boolean', true, :checked => true %>True<br />
	<%= radio_button_tag 'tag_boolean', false %>False
<% else %>
	<%= radio_button_tag 'tag_boolean', true %>True<br />
	<%= radio_button_tag 'tag_boolean', false, :checked => true %>False		
<% end %>
</p>

<h3>Time settings</h3>

<p>Time systems:</p>
<p><%= select_tag "time_system", options_for_select(["None", "Absolute", "Byo-Yomi", "Canadian"], @current_ruleset.time_system.split(',')), :multiple => true %>
</p>

<p>Main time required (i.e., whether game must have time settings at all):</p>
<p>
<% if @current_ruleset.main_time_boolean == true %>
	<%= radio_button_tag 'main_time_boolean', true, :checked => true %>True<br />
	<%= radio_button_tag 'main_time_boolean', false %>False
<% else %>
	<%= radio_button_tag 'main_time_boolean', true %>True<br />
	<%= radio_button_tag 'main_time_boolean', false, :checked => true %>False		
<% end %>
</p>

<p>Main time (in seconds):</p>
<p><%= number_field_tag('main_time',  @current_ruleset.main_time, :min => "1")%></p>

<p>Overtime required (if set to true, absolute time games will not be permitted):</p>

<p>
<% if @current_ruleset.ot_boolean == true %>
	<%= radio_button_tag 'ot_boolean', true, :checked => true %>True<br />
	<%= radio_button_tag 'ot_boolean', false %>False
<% else %>
	<%= radio_button_tag 'ot_boolean', true %>True<br />
	<%= radio_button_tag 'ot_boolean', false, :checked => true %>False		
<% end %>
</p>

<p>Byo_yomi:</p>

<p>
<%= number_field_tag('byo_yomi_periods',  @current_ruleset.byo_yomi_periods, :min => "1", :max => "50")%>Byo-yomi periods (min 1, max 50)<br />
<%= number_field_tag('byo_yomi_seconds', @current_ruleset.byo_yomi_seconds, :min => "1", :max => "360")%>Byo-yomi seconds (min 1, max 360)
</p>

<p>Canadian:</p>

<p>
<%= number_field_tag('canadian_stones',  @current_ruleset.canadian_stones)%>Byo-yomi periods (min 1, max 50)<br />
<%= number_field_tag('canadian_time', @current_ruleset.canadian_time)%>Byo-yomi seconds (min 1, max 360)
</p>

<p>Ruleset:</p>

<p><%= select_tag "ruleset", options_for_select(["Japanese", "Canadian", "AGA", "New Zealand"], @current_ruleset.ruleset.split(',')), :multiple => true %>
</p>

<p>Ruleset(s) required:</p>

<p>
	<% if @current_ruleset.ruleset_boolean == true %>
		<%= radio_button_tag 'ruleset_boolean', true, :checked => true %>True<br />
		<%= radio_button_tag 'ruleset_boolean', false %>False
	<% else %>
		<%= radio_button_tag 'ruleset_boolean', true %>True<br />
		<%= radio_button_tag 'ruleset_boolean', false, :checked => true %>False		
	<% end %>

</p>

<h3>Handicap settings</h3>

<p>Komi:</p>
<p><%= number_field_tag('komi', @current_ruleset.komi, :min => "0.5") %></p>

<p>Komi required:</p>

<p>
	<% if @current_ruleset.komi_boolean == true %>
		<%= radio_button_tag 'komi_boolean', true, :checked => true %>True<br />
		<%= radio_button_tag 'komi_boolean', false %>False
	<% else %>
		<%= radio_button_tag 'komi_boolean', true %>True<br />
		<%= radio_button_tag 'komi_boolean', false, :checked => true %>False		
	<% end %>
</p>


<p>Handicap required:</p>
<p>
	<% if @current_ruleset.handicap_boolean == true %>
		<%= radio_button_tag 'handicap_boolean', true, :checked => true %>True<br />
		<%= radio_button_tag 'handicap_boolean', false %>False
	<% else %>
		<%= radio_button_tag 'handicap_boolean', true %>True<br />
		<%= radio_button_tag 'handicap_boolean', false, :checked => true %>False		
	<% end %>
</p>
<p>Handicap (0-9):</p>
<p><%= select_tag "handicap", options_for_select([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], @current_ruleset.handicap.split(',')), :multiple => true %>
</p>

<h3>Board size</h3>
<p>Board size required:</p>

<p>
	<% if @current_ruleset.board_size_boolean == true %>
		<%= radio_button_tag 'board_size_boolean', true, :checked => true %>True<br />
		<%= radio_button_tag 'board_size_boolean', false %>False
	<% else %>
		<%= radio_button_tag 'board_size_boolean', true %>True<br />
		<%= radio_button_tag 'board_size_boolean', false, :checked => true %>False		
	<% end %>
</p>
<p>Dimensions:</p>
<p><%= select_tag "board_size", options_for_select([19, 13, 9], @current_ruleset.board_size.split(',')), :multiple => true %>
</p>


<h3>Point settings</h3>
<p>Note: multiply these values by the number of games played. For example, if you set points per win to 2, then the first win will be worth 2 points, the second 1 (n * # of games played)</p>
<p>Points per win:</p>
<p><%= number_field_tag('points_per_win', @current_ruleset.points_per_win, :min => 0) %></p>
<p>Points per loss:</p>
<p><%= number_field_tag('points_per_loss', @current_ruleset.points_per_loss, :min => 0, :step => 0.5) %></p>
<p>Max number of matches:</p>
<p><%= number_field_tag('max_games', @current_ruleset.max_games, :min => 1) %></p>

<h3>Promotion/Demotion settings</h3>
<p>Number of tiers</p>
<p><%= number_field_tag('number_of_divisions', @current_ruleset.number_of_divisions, :min => 1) %></p>

<% @current_ruleset.number_of_divisions.times do  %>
<h2>Manage Division Rules</h2>
<p><%= @current_ruleset.number_of_divisions %></p>
<p><%= @divisions.division_name %> Division Name:</p>
<p><%= text_field_tag('division_name', @divisions.division_name) %></p>

<p><%= @divisions.division_name %> Bracket Suffix Type:</p>
<p><%= select_tag "bracket_suffix", options_for_select(["Alpha", "Roman Numerals"], @divisions.bracket_suffix) %></p>

<p>Minimum Number of Players Per Bracket:</p>
<p><%= number_field_tag('bracket_players_min', @divisions.bracket_players_min, :min => 1) %></p>

<p>Maximum Number of Players Per Bracket:</p>
<p><%= number_field_tag('bracket_players_max', @divisions.bracket_players_max, :min => 1) %></p>

<p>Number of Brackets:</p>
<p><%= number_field_tag('bracket_number', @divisions.bracket_number, :min => 1) %></p>

<p>Minimum Points Requirement (e.g., to advance):</p>
<p><%= number_field_tag('min_points_required', @divisions.min_points_required, :min => 0) %></p>

<p>Minimum Games Requirement (e.g., to advance):</p>
<p><%= number_field_tag('min_games_required', @divisions.min_games_required, :min => 0) %></p>

<p>Minimum Wins Requirement (e.g., to advance):</p>
<p><%= number_field_tag('min_wins_required', @divisions.min_wins_required, :min => 0) %></p>

<p>Maximum Losses Requirement (e.g., before being removed):</p>
<p><%= number_field_tag('max_losses_required', @divisions.max_losses_required, :min => 0) %></p>

<p>Immunity Boolean (players will not be removed):</p>
<p>
	<% if @divisions.immunity_boolean == true %>
		<%= radio_button_tag 'immunity_boolean', true, :checked => true %>True<br />
		<%= radio_button_tag 'immunity_boolean', false %>False
	<% else %>
		<%= radio_button_tag 'immunity_boolean', true %>True<br />
		<%= radio_button_tag 'immunity_boolean', false, :checked => true %>False		
	<% end %>
</p>
<% end %>

<!-- t.string   "division_name"
t.string   "bracket_suffix"
t.integer  "bracket_players_min"
t.integer  "bracket_players_max"
t.integer  "bracket_number"
t.integer  "division_players_min"
t.integer  "division_players_max"
t.float    "min_points_required"
t.integer  "min_position_required"
t.integer  "min_games_required"
t.integer  "min_wins_required"
t.integer  "max_losses_required"
t.boolean  "immunity_boolean" -->

<%= submit_tag "Submit", :class => "submit" %>