<div><h3>Quick Links</h3>
	<ul>
		<li><a href="#alpha">Alpha</a></li>
		<li><a href="#betaI">Beta I</a></li>
		<li><a href="#betaII">Beta II</a></li>
		<li><a href="#gammaI">Gamma I</a></li>
		<li><a href="#gammaII">Gamma II</a></li>
		<li><a href="#gammaIII">Gamma III</a></li>
		<li><a href="#gammaIV">Gamma IV</a></li>
		<li><a href="#delta">Delta</a></li>
	</ul>
</div>


<h2 id="alpha">Alpha</h2>
<table class="results">
	<tr>
		<th class="first_col odd"></th>

<% @alpha.each do |player| %>
		<th><span><span><span><%= player.kgs_names %></span></span></span></th>		
<% end %>

<th><span><span><span>Points</span></span></span></th>
	</tr>
<% parity = 'even' %>
<% @alpha.each do |row| %>
	<tr>
		<% advance = User.where(:division => "Alpha").order("users.points DESC").limit(4) %>
		<td 
		<% advance.each do |advance_user| %>
			<% if advance_user.kgs_names == row.kgs_names %>
				class="first_col, <%= parity %>, advance"
			<% else %>
				class="first_col, <%= parity %>"
			<% end %>
		
		<% end %>
		>

		<%= link_to row.kgs_names, user_path(row.kgs_names) %></td>

		<% @alpha.each do |column| %>
		
			<% if column.kgs_names == row.kgs_names %>
				<td>X</td>
			<% else %>

				<% games = Match.where("black_player_name in (?, ?) AND white_player_name in (?, ?) AND valid_game=?", column.kgs_names, row.kgs_names, column.kgs_names, row.kgs_names, true).order(:created_at) %>
				<td>
					<% games.each do |game| %>
						<% if (game.black_player_name == row.kgs_names and game.result_boolean == false) or (game.white_player_name == row.kgs_names and game.result_boolean == true) %>
							<%= link_to image_tag("tick.png", :alt => "win"), game.url %>
						<% else %>
							<%= link_to image_tag("bullet_cross.png", :alt => "loss"), game.url %>
						<% end %>
					<% end %>
				</td>
				
			<% end %>
			
		<% end %>
		<% if row.points %>
			<td><%= row.points %></td>
		<% else %>
			<td>0.0</td>
		<% end %>


		<% if parity == 'even'
			parity = 'odd'
		   else
		   	parity = 'even'
		   end %>
	</tr>
<% end %>
</table>

