<header>

 <div class="prepend-10">
  <nav class="round">
    <ul>
		<li><%= link_to "Home", root_path %></li>
		<% if user_signed_in? %>
			<li><%= link_to "My Home", user_path(current_user.kgs_names) %></li>
			<li><%= link_to "Divisions", divisions_path %></li>
			<li><%= link_to "Rules", rules_path %></li>
		<% end %>
		<li><%= link_to "Users", users_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "League", league_path %></li>
		<li><%= link_to "Results", results_path %></li>
		<li><%= link_to "Prizes", prizes_path %></li>
		<li><%= link_to "News", news_path %></li>
    </ul>
  </nav>
</div>
</header>